<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lecture 06 | <%= title %></title>
</head> -->

<%- include('./partials/head.ejs') %>


<body>

    <!-- <nav>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/create">create</a>
    </nav> -->

    <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>about us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quisquam aperiam perferendis quo laudantium aliquid dolorum sequi consequatur minima illum nesciunt totam ut, deserunt aliquam reprehenderit ipsa distinctio facere accusantium officia voluptatibus doloremque est!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quisquam aperiam perferendis quo laudantium aliquid dolorum sequi consequatur minima illum nesciunt totam ut, deserunt aliquam reprehenderit ipsa distinctio facere accusantium officia voluptatibus doloremque est!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quisquam aperiam perferendis quo laudantium aliquid dolorum sequi consequatur minima illum nesciunt totam ut, deserunt aliquam reprehenderit ipsa distinctio facere accusantium officia voluptatibus doloremque est!
        </p>
    </div>
</body>
</html>